/* reset */
html {
    font-size: 62.5%;
    width: 100vw;
}

html,
body {
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

*::before, 
*, 
*::after {
    border: none;
    box-sizing: border-box;
    margin: 0;                                  
    outline-color: rgb(0, 178, 238);
    padding: 0;
    -webkit-font-smoothing: antialiased; /* macOS */
    -moz-osx-font-smoothing: grayscale; /* macOS */
}

a {
    text-decoration: none;
    color: inherit;
}

a:active,
a:visited {
    color: inherit;
}

h1, h2, h3,
h4, h5, h6 {
    font-weight: 400;
}

ul {
    list-style: none;
}

input[type="password"]::-ms-reveal {
    display: none;
}

img {
    display: block;
}

.disappear {
    display: none;
}